name: Terraform CI

on:
  pull_request:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: hashicorp/setup-terraform@v3

      - run: terraform init

      - run: terraform workspace select staging || terraform workspace new staging

      - run: terraform validate

      - run: terraform plan -var-file=staging.tfvars
